@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2a2b2f;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  min-height: 100vh;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
